---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.1
  name: myresources.mygroup.example.com
spec:
  group: mygroup.example.com
  names:
    kind: MyResource
    listKind: MyResourceList
    plural: myresources
    singular: myresource
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: MyResource is the Schema for the myresources API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: MyResourceSpec defines the desired state of MyResource.
            properties:
              foo:
                type: string
              image:
                type: string
              replicas:
                type: integer
            required:
            - image
            - replicas
            type: object
          status:
            description: MyResourceStatus defines the observed state of MyResource.
            properties:
              availableReplicas:
                type: integer
              state:
                type: string
            required:
            - availableReplicas
            - state
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
